:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  background-color: cadetblue;
  padding: 32px;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.App h2{
  margin: 0;
}

.App .Input_Nome{
  border: none;
  padding: 12px;
  border-radius: 8px;
  background-color: gray;
  outline: none;
  box-shadow: 4px 4px 4px rgba(112, 128, 144, 0.8);
}

.App .Btn_contador {
  border: none;
  padding: 12px;
  border-radius: 8px;
  background-color: gray;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  box-shadow: 4px 4px 4px rgba(112, 128, 144, 0.8);
  transition: ease-in-out 0.2s;
}

.App .Btn_contador:hover{
  color: cadetblue;
}

